<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>Dashboard</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="loader.css">
    <link rel="stylesheet" href="body.css">
    <link rel="stylesheet" href="parts.css">
    <link rel="stylesheet" href="forms.css">
    <script defer src="header.js"></script>
</head>
<body>
    <%-include("../partials/loader") %>
    <%-include("../partials/header") %>
    <% if (dashboard) { %>
        <%-include("../partials/"+type+"/part1") %>
    <% } else if (forms) { %>
        <%-include("../partials/"+type+"/part2") %>
    <% }%>
</body>
</html>