<section class="hamburger">
    <a id="logo" target="_blank"><%=name%></a> 
    <label for="toggle-1" class="toggle-menu"><ul><li></li> <li></li> <li></li></ul></label>
    <input type="checkbox" id="toggle-1">
    <nav>
        <ul>
            <li><a>Dashboard</a></li>
            <li><a>Forms</a></li>
            <li><form action="/logout" method="post"><button class="logout" type="submit"><a>Logout</a></button></form></li>
        </ul>
    </nav> 
</section>