<section class="hamburger">
    <h1 id="logo"><%=name%> || <%=ip%></h1> 
    <label for="toggle-1" class="toggle-menu"><ul><li></li> <li></li> <li></li></ul></label>
    <input type="checkbox" id="toggle-1">
    <nav>
        <ul>
            <li>
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="logout" type="submit"><a>Logout</a></button>
                </form>
            </li>
        </ul>
    </nav>
</section>