@font-face {
    font-family: nats;
    font-style: normal;
    font-weight: 100;
    src: url("../../assets/research/NATS 400.ttf");
}
*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.imga {
    width: 7.5%;
    position: absolute;
    animation: rotate 2s infinite linear;
    transform-style: preserve-3d;
}
@keyframes rotate {
    0% { transform: translateZ(-50px) rotateY(0deg);}
    100% { transform: translateZ(-50px) rotateY(360deg);}
}
.loader{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 999999999999999;
}
section{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.lmfao{
    display: none;
}
.sc1{
    width: 20%;
    height: 100%;
    border-right: 1px solid #BFBFBF;
    background-color: #FFFBF7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.sc1-1{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.sc1-1-img{
    width: 7.5vh;
    max-width: 7.5vh;
    min-width: 7.5vh;
    height: 7.5vh;
    max-height: 7.5vh;
    min-height: 7.5vh;
    padding-left: 2vw;
}
.logo-heading{
    font-family: nats;
    font-size: 1.5vmax;
    font-weight: 100;
    line-height: 1.5vmax;  
    color: #7B7B7B;
    text-align: center;
    padding-top: 2vh;
    padding-left: 0.5vw;
}
.sc1-2{
    width: 100%;
    height: 80%;
}
.sc1-2 form{
    width: 100%;
    height: 10%;
}
.sc1-2 form button{
    all: unset;
    height: 100%;
    width: 100%;
}
.sc1-2-btn1, .sc1-2-btn2, .sc1-2-btn3, .sc1-2-btn4{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s linear;
}
.sc1-2 div:hover{
    background-color: #F2EFEC;
}
.sc1-2-btn-active{
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    background-color: #F2EFEC;
}
.sc1-2 div h1{
    color: #797979;
    font-family: nats;
    font-weight: 100;
    font-size: 1vmax;
    line-height: 1vmax;
    padding-left: 2vw;
}
.sc1-2 img{
    padding-left: 2vw;
    width: 2vw;
    height: 5vh;
    max-height: 5vh;
    max-width: 5vh;
    min-width: 2vw;
    min-height: 2vw;
}
.sc2{
    width: 80%;
    height: 100%;
    background-color: aqua;
}
.sc2-1{
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #BFBFBF;
    background-color: #FFFBF7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sc2-1 h1{
    color: #484848;
    font-family: nats;
    font-weight: 100;
    font-size: 2vmax;
    line-height: 2vmax;
}
.sc2-1 form{
    padding-left: 2vw;
    padding-right: 2vw;
}
.sc2-1 form button{
    padding: 1vh 2.5vw;
    color: #818181;
    font-family: nats;
    font-weight: 100;
    font-size: 1.1vmax;
    line-height: 1.1vmax;
    border: 1px solid #E2E2E2;
    border-radius: 3rem;
    background-color: #FFFFFF;
    transition: all 0.25s linear;
}
.sc2-1 form button:hover{
    color: #000000;
    border: 1px solid #000000;
}
.sc2-2{
    width: 100%;
    height: 90%;
    background-color: green;
    border-bottom: 1px solid #BFBFBF;
}
.sc2-2-1{
    width: 100%;
    height: 5%;
    background-color: #FFFBF7;
    border-bottom: 1px solid #BFBFBF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
.sc2-2-1 h1{
    color: #7F7F7F;
    font-family: nats;
    font-weight: 100;
    font-size: 1vmax;
    line-height: 1vmax;
    text-align: left;
    padding-left: 1%;
}
.sc2-2-2{
    background-color: #FFF3F3;
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.sc2-2-2-1{
    width: 98%;
    height: 40%;
    border-radius: 0.5vmax;
    background-color: #ECECEC;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.sc2-2-2-2{
    width: 98%;
    height: 55%;
    border-radius: 0.5vmax;
    background-color: #ECECEC;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sc2-2-2-1-1{
    width: 30%;
    height: 90%;
    background-color: #F8EFEF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.charts{
    width:95% !important;
}
.sc2-2-2-2-1{
    width: 27.5%;
    height: 85%;
    background-color: #D9D9D9;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    border-radius: 0.25vmax;
}
.sc2-2-2-2-1-1{
    border-top-left-radius: 0.25vmax;
    border-top-right-radius: 0.25vmax;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sc2-2-2-2-1-2{
    border-bottom-left-radius: 0.25vmax;
    border-bottom-right-radius: 0.25vmax;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sc2-2-2-2-1-1-img{
    height: 90%;
    border-radius: 0.25vmax;
}
.name{
    font-family: nats;
    font-weight: 100;
    font-size: 1.5vmax;
    line-height: 1.5vmax;
    text-align: center;
    width: 90%;
}
.post{
    font-family: nats;
    font-weight: 100;
    font-size: 1vmax;
    line-height: 1vmax;
    text-align: center;
    width: 90%;
    margin-bottom: 2.5%;
}
.data{
    font-family: nats;
    font-weight: 100;
    font-size: 1.25vmax;
    line-height: 1.25vmax;
    text-align: center;
    width: 90%;
}