<div class="content">
    <form action="/research" method="get">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="para" value="prof1">
        <button type="submit" onclick="lol()">RESEARCH DATA</button>
    </form>
    <script>
        function lol(){
        document.querySelector(".loader").style.display = "flex";
        }
    </script>
</div>