<section class="hamburger">
    <div class="path">
        <form method="get" action="/dashboard">
            <button type="submit">⇐</button>
        </form>
    </div>
    <a id="logo" target="_blank"><%=head%> ⇒ <%=name%></a> 
</section>