<div class="content">
    <img class="ga" src="https://picsum.photos/300/300/?random" alt="images">
    <img class="ga" src="https://picsum.photos/300/300/?random" alt="images">
    <img class="ga" src="https://picsum.photos/300/300/?random" alt="images">
    <img class="ga" src="https://picsum.photos/300/300/?random" alt="images">
    <img class="ga" src="https://picsum.photos/300/300/?random" alt="images">
    <img class="ga" src="https://picsum.photos/300/300/?random" alt="images">
    <img class="ga" src="https://picsum.photos/300/300/?random" alt="images">
    <img class="ga" src="https://picsum.photos/300/300/?random" alt="images">
</div>