<div class="bdy">
    <button class="accordion">Section 1</button>
    <div class="panel">
        <img class="ga" src="https://picsum.photos/300/300/?random" alt="images">
    </div>

    <button class="accordion">Section 2</button>
    <div class="panel">
        <img class="ga" src="https://picsum.photos/300/300/?random" alt="images">
    </div>

    <button class="accordion">Section 3</button>
    <div class="panel">
        <img class="ga" src="https://picsum.photos/300/300/?random" alt="images">
    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("activator");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
                } else {
                // panel.style.maxHeight = panel.scrollHeight + "px";
                panel.style.maxHeight = "fit-content";
                } 
            });
        }
    </script>
</div>