<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>peopleandculture</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico">
    <script defer src="./js/file.js"></script>
    <link rel="stylesheet" media="all and (max-device-width: 500px) and (orientation:portrait)" href="/css/iphone-portrait.css" />
    <link rel="stylesheet" media="all and (max-device-width: 500px) and (orientation:landscape)" href="/css/iphone-landscape.css" />
    <link rel="stylesheet" media="all and (max-device-width: 1024px) and (min-device-width: 501px) and (orientation:portrait)" href="/css/ipad-portrait.css" />
    <link rel="stylesheet" media="all and (max-device-width: 1024px) and (min-device-width: 501px) and (orientation:landscape)" href="/css/ipad-landscape.css" />
    <link rel="stylesheet" media="all and (min-device-width: 1025px)" href="./css/style.css">
</head>
<body>
    <section>
        <div class="sc1">
            <div class="sc1-1">
                <img class="sc1-1-img" src="./assets/BMU-logo.png" alt="logo">
                <h1 class="logo-heading">BML Munjal University</h1>
            </div>
            <div class="sc1-2">
                <div class="sc1-2-btn1" onclick="btn1(1);">
                    <img src="/assets/grade_sheet.svg" alt="">
                    <h1 class="sc1-2-txt1">2.2.2</h1>
                </div>
                <div class="sc1-2-btn2" onclick="btn1(2);">
                    <img src="/assets/result_and_exam_dates.svg" alt="">
                    <h1 class="sc1-2-txt2">2.4.1</h1>
                </div>
                <div class="sc1-2-btn3" onclick="btn1(3);">
                    <img src="/assets/student_grievance.svg" alt="">
                    <h1 class="sc1-2-txt3">2.4.2</h1>
                </div>
                <div class="sc1-2-btn4" onclick="btn1(4);">
                    <img src="/assets/student_grievance.svg" alt="">
                    <h1 class="sc1-2-txt4">2.4.3</h1>
                </div>
                <div class="sc1-2-btn5" onclick="btn1(5);">
                    <img src="/assets/student_grievance.svg" alt="">
                    <h1 class="sc1-2-txt5">6.3.2</h1>
                </div>
                <div class="sc1-2-btn6" onclick="btn1(6);">
                    <img src="/assets/student_grievance.svg" alt="">
                    <h1 class="sc1-2-txt6">6.3.3</h1>
                </div>
                <div class="sc1-2-btn7" onclick="btn1(7);">
                    <img src="/assets/student_grievance.svg" alt="">
                    <h1 class="sc1-2-txt7">7.1.10</h1>
                </div>
            </div>
        </div>
        <div class="sc2">
            <div class="sc2-1">
                <h1>PEOPLEANDCULTURE</h1>
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit">LOGOUT</button>
                </form>
            </div>

            
            <div class="sc2-2">
                <div class="sc2-2-1">
                    <h1 class="sc2-2-1-linkLine">PEOPLEANDCULTURE > <span class="sc2-2-1-linkLine-0">2.2.2</span></h1>
                </div>

                <!-- more sections to be made according to script -->
                <div class="sc2-2-2">
                    <div class="sc2-2-2-2">
                        <div class="sc2-2-2-2-1">
                            <div class="sc2-2-2-2-1-1">
                                <div class="sc2-2-2-2-1-1-1">
                                        <h1>fileName</h1>
                                </div>
                            </div>
                            <div class="sc2-2-2-2-1-2">
                                <div class="sc2-2-2-2-1-2-1">
                                    <div class="sc2-2-2-2-1-2-1-1"></div>
                                </div>
                                <div class="sc2-2-2-2-1-2-2">
                                    <div class="sc2-2-2-2-1-2-2-1">
                                        <form action="" method="post">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button type="submit">Download</button>
                                        </form>
                                    </div>
                                    <div class="sc2-2-2-2-1-2-2-2">
                                        <form action="" method="post">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button type="submit">Delete</button>
                                        </form>
                                    </div>
                                    <div class="sc2-2-2-2-1-2-2-3">
                                        <form action="" method="post">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button type="submit">View Full Sheet</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc2-2-2-2-2"></div>
                    </div>
                </div>
            </div>


            <div class="sc2-3">
                <div class="sc2-3-1">
                    <h1>Tasks Sheet</h1>
                </div>
                <div class="sc2-3-2"></div>
            </div>
        </div>
    </section>
    <p style="display: none;"><span class="value1"><%=form1%></span><span class="value2"><%=form2%></span><span class="csrfToken"><%= csrfToken %></span></p>
</body>
</html>