*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #212121;
    height: 10vh;
    width: 100vw;
    z-index: 99999;
}
.logout{
    height:5vh;
    width:fit-content;
    padding:1em;
    border-radius: 1em;
    background-color: white;
    font-size: 0.75em;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lg{
    height: 5vh;
    width: fit-content;
}