.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:5vh;
    background-color: white;
}
.content{
    display: block;
}
.menu a{
    margin: 1em;
    font-weight: 500;
    font-size: 0.85em;
    padding:0.25em;
    cursor: pointer;
}
.active{
    color:#002e5b;
    border-bottom:0.25em solid #002e5b;
    border-radius: 0.25rem;
}
.bdy{
    height:85vh;
}