.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:5vh;
    background-color: white;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.content{
    display: block;
}
.menu a{
    margin: 1em;
    font-weight: 500;
    font-size: 0.85em;
    padding:0.25em;
    cursor: pointer;
}
.active{
    color:#002e5b;
    border-bottom:0.25em solid #002e5b;
    border-radius: 0.25rem;
}
.bdy{
    height:85vh;
}