.container {
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 40vw;
    margin: 2.5vh;
    padding: 2.5vh;
    border-radius: 0.5rem;
    overflow: scroll;
}

.btn {
    display: flex;
    justify-content: center;
    border-radius: .4rem;
    padding-top: 10vh;
    width: 60vw;
}
.submitbtn{
    border: none;

}

.blud{
    height: 80vh !important;
    display: flex;
}

.lb{
    height: fit-content;
    width: 10vw;
}
.cc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.path{
    height:5vh;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    color: #002e5b;
    font-weight: bolder;
}
.path button{
    all: unset;
    padding: auto;
    margin-left: 4vw;
    font-size: 2rem;
}
.path h1{
    all:unset;
    margin-left: 6vw ;
    color: #002e5b;
    font-size: 1.25rem;
    font-weight: bolder;
}
::-webkit-scrollbar{
    display: none;
}
.hamburger a{
    margin-right: 5vw;
}